version: '3'
services:
  db:
    image: "mongo"
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - db-data:/foo

  auth-server:
    restart: on-failure
    build: .
    ports:
      - 8090:8090
    expose:
      - 8090
    # links:
    #   - db
    depends_on:
      - db
    environment:
      FLASK_DATABASE_HOST: db

volumes:
  db-data: